
.container{
    width: 1000px;
    height: 600px;
    /* border:solid; */
    margin: 0 auto;
    display: flex;
    justify-content:center;/*space-betweencenter; flex-end;*/
    align-items:flex-start;/*center flex-end;*/
    /* flex-direction:column-reverse ; */
    /* flex-wrap: wrap; */
    /* align-content: flex-start; */
    

}

/* .red,
.green,
.blue,
.yellow,
.purple{
    width: 200px;
    height: 100px;
} */
.red{
    background-color: red;
    flex-shrink: 3;
    /* flex-grow: 2; */
    order: 2;
}
.green{
    background-color: green;
    /* flex-grow: 3; */
}
.blue{
    background-color: blue;
    /* flex-grow: 2; */
}
.yellow{
    background-color: yellow;
    order:1;
    /* flex-grow: 2; */
}
.purple{
    background-color: purple;
    order:-1
    /* flex-grow: 1; */
}




.red{
    width: 70%;
    height: 700px;
    margin: 0 auto;
    display: flex;
    padding: 10px;
}
.orange{
    background-color: orange;
    flex-grow: 1;
    margin-right: 10px;
}
.yellow{
    background-color: yellow;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.green{
    background-color: green;
    flex-grow: 1; 
}
.yellow .green:nth-child(2)
{
    margin-top: 10px;
    margin-bottom: 10px;
}