.home img{
    width: 300px;
}
ul{
    list-style-type: none;
    padding: 0;
    text-align: center;
}
.secondery img{
    height: 150px;
}
.secondery li{
    display: inline-block;
}
p{
    text-align: center;
}