.img-1{
    width: 400px;
    float: left;
    margin-right: 10px;
}
.img-2{
    width: 400px;
    float: right;
    margin-left: 10px;
}
h2{
    clear: left;
    text-align: center;
}

body{
    background-color: aquamarine;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQsRy1GNVyz-Y9xAn6I4RG-pjFh6-_8Z88yFw&s");
    background-repeat: no-repeat;
    /* background-position-x: center;
    background-position-y: center; */
    background-size: 100%;
    background-attachment: fixed;
}
